{# BlogBundle/Resources/views/Skeleton/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <div id="sidebar">
                {% block sidebar %}
                    <ul>
                        {% block menu %}
                          {# <li><a href="{{ path('_welcome') }}">Home</a></li> {# replaced "/" which is dflt #}
                          <li><a href="{{ path('index') }}">Home</a></li> {# replaced "/" which is dflt #}
                          <li><a href="{{ url('post') }}">Blog</a></li> {# url() returns full url #}
                          <li><a href="{{ url('category') }}">Blog Categories</a></li> {# url() returns full url #}
                        {% endblock %}
                    </ul>
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>